<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.example.projectarcamera">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.Camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_camera_enhance"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_camera_enhance"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectARCamera">
        <activity android:name=".view.PhoneAuthActivity"/>
        <activity android:name=".view.GalleryActivity"/>
        <activity android:name=".view.CameraActivity"/>
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>